.wd100 {
  width: 100%; }

.wd50 {
  width: 50%; }

.wd30 {
  width: 30%; }

.wd25 {
  width: 25%; }

.wd20 {
  width: 20%; }

.font_bold {
  font-weight: bold; }

.font_nor {
  font-weight: normal; }
